<nav class="navbar-dark bg-dark sticky-top">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3  ">
            <div class="col-md-3 mb-2 mb-md-0">
                <!-- <a href="#" class="navbar-brand">
                    <img src="/pictures/camp.png" class="d-inline-block align-text-top" width="75px" height="75px"
                        aria-label="Bootstrap"> </a>-->
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <object type="image/svg+xml" data="/pictures/camp.svg">Your browser does
                        not support SVG</object>
                </a>
            </div>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-light link-opacity-75 link-opacity-100-hover">Home</a></li>
                <li><a href="/campground" class="nav-link px-2 link-light link-opacity-50 link-opacity-100-hover">All
                        Campground</a></li>
                <li><a href="/campground/new"
                        class="nav-link px-2 link-light link-opacity-50 link-opacity-100-hover">New Campground</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-warning btn-lg me-2 rounded-pill">Login</button>
                <button type="button" class="btn btn-light btn-lg rounded-pill">Sign-up</button>
            </div>
        </header>
    </div>

</nav>