.nav-link {
    font-size: 20px;
}

.form-margin-left {
    box-sizing: border-box;
    margin-left: 100px !important;
    margin-bottom: 13px;
    /* margin-bottom: 20px; */
}

object[data="/stylesheets/pictures/camp3.svg"] {
    width: 500px;
    /* adjust as needed */
    height: 650px;
    /* adjust as needed */
}

object[data="/stylesheets/pictures/campfest.svg"] {
    width: 250px;
    /* adjust as needed */
    height: 125px;
    /* margin-top: 5px;  */
    margin-left: 10px;
}

.img-fluid {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 320px;
    overflow: hidden;
}

figure {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 320px;
    overflow: hidden;

}

@media (min-width: 1300px) {
    .container {
        max-width: 90%;
    }
}